@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    justify-content: center;
    display: flex   ;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}


.container-header {
    width: 80%;
    align-content: center;
    display: flex;
}

.container-header .container-menu {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr;
    grid-template-rows: 5rem;
    justify-items: center;
    align-items: center;
    border: 1px solid rgba(163, 163, 163, 0.733);
    width: 100%;
    border-top: 0;
    border-radius: 1px;
    background-color: #283043;
    box-shadow: 0px 0px 3px 0px;
}

.container-menu div a{
    text-decoration: none;
    color: #b8b8b8;
    font-size: 18px;
}

.box-contact-text{
    grid-column: 6/7;
    /* border: 1px solid #b59900; */
    border: 1px solid #574da780;
    padding: 15px;
    border-radius: 5px;
}

a div.box-contact-text{
    color:#b8b8b8;
}

.container-menu a{
    text-decoration: none;
}

.box-contact-text:hover, .box-contact-text a:hover{
    background-color:#574da780;/*  #b59900; */
    color: #ffffff;
}

.item-1{
    grid-column: 2/3;
}


.container-logo{
    grid-column: 1/2;
}

.container-logo img{
    width: 110px;
    height: 84px;
}

.item-1 a:hover{
    color:white;
}

.item-2 a:hover{
    color:white;
}


.item-3 a:hover{
    color:white;
}

.item-4 a:hover{
    color:white;
}

.item-2{
    grid-column: 3/4;
}

.item-3{
    grid-column: 4/5;
}

.item-4{
    grid-column: 5/6;
}

.banner {
    /* background-image: url('');
    background-size: cover; */
    color: black;
    padding: 100px 0;
    text-align: center;
}
 
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2, p{
    text-align: center;
}

.container p{
    margin: 10px 0 10px 0;
}